<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phone.DoctorAppointment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.chatapp.example.flamingoapp.phase2.ChatListActivity"></activity>
        <activity android:name="com.chatapp.example.flamingoapp.phase1.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chatapp.example.flamingoapp.phase1.OtpActivity" />
        <activity android:name="com.chatapp.example.flamingoapp.phase1.OtpNextActivity" />
        <activity android:name="com.chatapp.example.flamingoapp.phase1.SignUpActivity" />
        <activity android:name="com.chatapp.example.flamingoapp.phase1.WelcomeActivity" />
        <activity android:name="com.chatapp.example.flamingoapp.phase2.HomeActivity" />
        <activity android:name="com.chatapp.example.flamingoapp.phase2.ChatDetailActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>